
.fraunces-light {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "SOFT" 0,
    "WONK" 0;
}

.fraunces-normal {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "SOFT" 0,
    "WONK" 0;
}

/*.montserrat-<uniquifier> {*/
/*                 font-family: "Montserrat", sans-serif;*/
/*                 font-optical-sizing: auto;*/
/*                 font-weight: <weight>;*/
/*                 font-style: normal;*/
/*             }*/