.clinical-advisory p {
    line-height: 35.2px;
}

img.w-full {
    height: 800px;
}

.button {
    padding: 12px 22px;
}

/*.grey {*/
/*    !* light grey *!*/
/*    background-color: #F9F9F9;*/
/*    padding: 35px 75px ;*/
/*}*/

/*.content-end {*/
/*    align-items: end;*/
/*}*/

/*.overflow-hidden {*/
/*    overflow: hidden;*/
/*}*/