.clinical-advisory p {
    line-height: 35.2px;
}

.img-radius {
    border-top-left-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
}

.button {
    padding: 12px 22px;
}

.line {
    position: relative;
}

.line span {
    background-color: #fff;
    padding-right: 10px;
}

.line:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 8px;
    border-top: 1px solid #244c8a;
    opacity: 0.25;
    z-index: -1;
}

.list-line {
    border-bottom: 1px solid rgba(36, 76, 138, 0.25);
}
